:root {
  --clr-primary-red: hsl(1, 90%, 64%);
  --clr-primary-blue: hsl(219, 85%, 26%);

  --clr-neutral-900: hsl(224, 21%, 14%);
  --clr-neutral-700: hsl(219, 12%, 42%);
  --clr-neutral-500: hsl(219, 14%, 63%);
  --clr-neutral-300: hsl(205, 33%, 90%);
  --clr-neutral-200: hsl(211, 68%, 94%);
  --clr-neutral-100: hsl(210, 60%, 98%);
  --clr-neutral-0: hsl(0, 0%, 100%);

  --ff-base: "Plus Jakarta Sans", sans-serif;
  --fw-regular: 500;
  --fw-bold: 800;

  --mg-cards: 1em 0em;
  --br-cards: 0.6em;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/*  general */

body {
  display: grid;
  margin: 0.9rem;
  font-family: var(--ff-base);
  font-size: 0.95rem;
  font-weight: var(--ff-base);
  background-color: var(--clr-neutral-0);
}

i {
  color: var(--clr-primary-red);
  scale: 0.6;
}

.control-panel__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}
.control-panel__title {
  display: flex;
  gap: 0.4em;
  font-weight: var(--fw-bold);
  font-size: 1.1rem;
}

.control-panel__notifications-n {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 0.4rem;
  background-color: var(--clr-primary-blue);
  color: var(--clr-neutral-0);
}
.control-panel__all-read {
  font-size: 0.87rem;
  border: none;
  background-color: inherit;
  color: var(--clr-neutral-500);
}
/*      media */
@media (min-width: 600px) {
  body {
    display: grid;
    justify-content: center;
    background-color: var(--clr-neutral-100);
  }
  .control-panel {
    max-width: 600px;
    padding: 1.5rem 2em;
    margin: 2em 0 4em;
    border-radius: .8rem;
    box-shadow: 0px 0px 30px var(--clr-neutral-300);
    background-color: var(--clr-neutral-0);
  }
}

/* cards*/

.notification-card {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1em;
  margin: var(--mg-cards);
  padding: 1em;
  border-radius: var(--br-cards);
  color: var(--clr-neutral-700);
  box-shadow: 0px 0px 5px var(--clr-neutral-200);
}
.notification-card--color {
  background-color: var(--clr-neutral-100);
}
.notification-card__name {
  color: var(--clr-neutral-900);
  font-weight: var(--fw-bold);
}
.notification-card__event {
  font-weight: var(--fw-bold);
}
.notification-card__time {
  color: var(--clr-neutral-500);
  margin-top: 0.3rem;
  font-size: 0.85rem;
}
.notification-card__event--club {
  color: var(--clr-primary-blue);
}
.notification-card__message {
  padding: 0.8em;
  margin-top: 0.7em;
  background-color: white;
  color: var(--clr-neutral-700);
  border: 1px solid var(--clr-neutral-200);
  border-radius: var(--br-cards);
}
.notification-card--img {
  grid-template-columns: 1fr 5fr 1fr;
}

/*                hover                 */

.control-panel__all-read:is(:hover, :focus),
.notification-card__name:is(:hover, :focus) {
  cursor: pointer;
  color: var(--clr-primary-blue);
}

.notification-card__user-picture:is(:hover, :focus),
.notification-card__message-pic:is(:hover, :focus) {
  cursor: pointer;
  scale: 1.1;
}
.notification-card__message:is(:hover, :focus) {
  background-color: var(--clr-neutral-200);
  cursor: pointer;
}
